.header {
  background-color: #c4ebe0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 999;
}

.logo {
  margin: 0;
  color: #9999b3;
  margin-left: 50px;
}

.logo:hover {
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.link {
  font-size: large;
  font-weight: 600;
  color: #9999b3;
  margin-right: 50px;
}

.link:hover {
  text-decoration: none;
}

.subheader {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 999;
}

.contact_info {
  margin-left: 20px;
}

.social_icons {
  margin-right: 50px;
}

.phone, .email {
  margin-right: 10px;
}

.social_icons a {
  margin-left: 10px;
}

.accountDropDown_photo {
  width: 40px;

}

.dropDown {
  position: relative;
  cursor: pointer;
  margin-right: 50px;
}


.dropdownArrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(82, 80, 80);
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
}

.dropdownArrow.active {
  transform: translateY(-50%) rotate(180deg);
}


@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  
  .navLinks {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}