.background_image {
  background-image: url('/public/homepage/S39.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  z-index: -1;
}

.rectangle {
  width: 60%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.section {
  min-height: 60px;
  flex: 1; /* равномерное распределение по ширине */
  border: 1px solid rgb(82, 80, 80);
  background-color: #c4ebe0;
  text-align: center;
}

.section p {
  opacity: 0.6;
}

.search_button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #b3b3cc;
  color: #ffffff;
  cursor: pointer;
  font-size: 17px;
  border: 1px solid rgb(82, 80, 80);
}

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Высота контейнера с текстом */
  background-color: rgba(255, 255, 255, 0.8); /* Цвет фона контейнера */
}