.container {
    width: 100%;
    margin-top: 40px;
    background-color: #f0f0f0;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 50px;
}

.container h2 {
    padding-top: 40px;
}

.dataContainer {
    display: flex;
    padding: 5px;
    margin-top: 40px;
    flex-direction: column;
    height: 70px;
    background-color: #fff;
}

.header {
    opacity: 0.5;
    font-size: small;
}

.viewHeader {
    display: flex;
    justify-content: space-between;
}

.viewHeader button {
    width: 140px;
    height: 40px;
    margin-top: 30px;
    font-size: medium;
    background-color: #b3b3cc;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.viewHeader button:hover {
    background-color: #9999b3;
    cursor: pointer;
  }

.spanInput {
    padding: 10px;
    margin-left: 15px;
}
.input {
    font-size: medium;
    margin-left: 15px;
    padding: 10px;
}

.saveButton {
    font-size: large;
    margin-top: 70px;
    width: 150px;
    height: 50px;
    background-color: #b3b3cc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.saveButton:hover {
    background-color: #9999b3;
}
